<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zac.octopus.qualitytest">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".ui.LoginActivity"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.scanner.PortraitCaptureActivity"
        android:screenOrientation="fullSensor"
        android:stateNotNeeded="true"
        android:theme="@style/zxing_CaptureTheme"
        android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        >
    </activity>

    <activity
        android:name=".ui.receipt.ReceiptPostEvaluateActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        >
    </activity>

    <activity
        android:name=".ui.receipt.ReceiptResultActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        >
    </activity>

    <activity android:name=".ui.TestActivity">
    </activity>

    <activity
        android:name=".ui.scanner.ToolbarCaptureActivity"
        android:screenOrientation="fullSensor"
        android:stateNotNeeded="true"
        android:windowSoftInputMode="stateAlwaysHidden"/>

    <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <!--user setting-->
    <activity android:name=".ui.personal.PersonalSettingActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        >
    </activity>
    <!--modify pwd-->
    <activity android:name=".ui.personal.ModifyPwdActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        >
    </activity>
    <!--forget pwd-->
    <activity android:name=".ui.ForgetPwdActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        >
        </activity>
  </application>

</manifest>